.hello{
    margin-bottom: 50px;
}

.aboutus-1{
    margin: 100px 0px 30px 0px;
    height: 400px;
}

.aboutus-2{
    margin: 0px 0px 30px 0px;
    height: 400px;
}

.aboutus-3{
    display:flex;
    height: 300px;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding: 100px;
}
.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastfade{
    margin:100px;
}

.logo{
    margin: 10px;
    padding:0px;
}

.logoitems{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

.logopaper{
    height:12rem;
}
.aboutus-4{
    flex-direction: column;
    display:flex;
    height: 300;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    padding: 70px 60px 60px 60px;
    margin-bottom:30px;
}
.addmargin{
    margin-bottom:150px;
}

.aboutus-5{
    flex-direction: column;
    display:flex;
    height: 200px;
    align-items:center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    padding: 70px 60px 0px 60px;
    margin-bottom:10px;
}

.aboutus-5 span{
    font-weight:400;
    font-family: 'Oswald';
    text-transform: uppercase;
    color:#c95d47;
    font-size:30px;
}

.aboutus-4 span{
    font-weight:400;
    font-family: 'Oswald';
    text-transform: uppercase;
    color:#c95d47;
    font-size:30px;
}

.abouthrwrapper{
    display:flex;
    justify-content: center;
    align-items:center;
}

.aboutushr{
    width: 10rem;
    border-top: 4px solid #E8AE40 !important;
}
.about-text-wrapper{
    display:flex;
    height:100%;
    margin:0;
    font-weight:100;
}

.about-text{
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.text{
    display:flex;
    line-height: 27px;
}

.aboutus-wrapper{
    overflow-y: scroll;
    height:calc(100vh - 86px);
}

.about-img{
    flex-direction: column;
    padding: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
}
