p{
  margin:0;
}

.explore-mixer-list{
  flex-direction: column;
  display: flex;
  padding: 25px;
  width: 100%;
}

.recharts-wrapper{
  display:flex;
}
input{
  width: 100%;
}

.histogram-wrapper{
  margin-bottom:15px;
}


.no-padding span{
  font-size: 20px;
  font-family: 'Oswald';


}

.country-histogram-value{
  display:flex;
  align-items: center;
  justify-content: flex-start;
}

.StepRangeSlider__track{
  height: 4px !important;
  background-color: #585858;
  border: none !important;
}

.StepRangeSlider__thumb{
  border: none !important;
  background-color: #585858 !important;
  width:16px;
  height:16px;
}

.explore-mixer-list li{
  font-size: 12px;
  font-weight: 300;
  margin: 3px 0px 3px 0px;
}

.exp-content{
  padding:60px 0px 0px 0px;
  overflow-y: scroll;
}

.searchPadding{
  padding-bottom: 20px;
}

.no-padding{
  margin:0;
}
.keyFigure-row{
  position: relative;
  margin:0px;
}
/*@@@@@@@@@@ EXPLORE CONTENT @@@@@@@@@@*/
.explore-row{
  position: relative;
  margin:0px;
  height: calc(100vh - 86px);
  z-index:400;
  box-shadow: 1px 4px 10px rgb(0,0,0,0.3);
}

/* .MuiExpansionPanelSummary-root-31.MuiExpansionPanelSummary-expanded-32,
.MuiExpansionPanelSummary-root-31,
.MuiExpansionPanelSummary-root-95 {
} */
.MuiExpansionPanelDetails-root-64{
padding: 30px !important;
}

.treemap-row{
  margin:0px 0px 0px 0px;
  height: inherit;
}

.box{
  background-color:red;
}

#search-section{
  height:100px;
  background:white;
  display:flex;
  /* position:absolute;   */
  width:100%;
  font-size: 15px;
  font-weight:300;
  margin:0;
  padding:0;
  z-index:50;
}

.dropdown{
  background-color: white;
}

/* .city-search{
  display : flex;
  justify-content : bottom;
  align-items : bottom;
  padding:100px 0px 10px 10px;
  border-bottom: 1px solid lightgrey;
} */

#exampleSelect{
  width:100%;
}

.countryUnselected{
  display : flex;
  top: 100px;
  justify-content : center;
  align-items: center;
  font-family: 'Oswald';
  text-transform: uppercase;
  color: #E8AE40;
  font-weight:300;
}

.treemap-text{
  display : flex;
  align-items : top;
  color: #2d2d2d;
  letter-spacing: .5px;
  font-size: 14px;
  font-weight:400;
  /* height:70%; */
  padding-top: 50px;
}

#tree-title{
  font-size: 24px;
  font-family: 'Oswald';
  font-weight: 700;
  text-transform: uppercase;
  line-height: 23px;
}


.keyFigure hr{
  margin:30px 0px 30px 0px;
  border-top: 1px solid #d6d6d6;
}

.keyFigure span{
  font-weight:400;
  font-size: 18px;
  color: #2C2C2C;
}


.keyFigure-Wrapper{
  display : flex;
  color: #2d2d2d;
  font-size: 13px;
  font-weight:300;
  padding: 20px;
}

.keyfigureTitle{
  display : flex;
  justify-content : bottom;
  margin:0;
  height:80px;
  align-items: center;
}

.info-wrapper .infotext {
  visibility: hidden;
  width: 120px;
  background-color: lightgrey;
  color: #858585;
  font-family: 'Merriweather';
  font-size: 13px;
  text-align: center;
  /* border-radius: 6px; */
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 75%;
  left: 50%;
  margin-left: -60px;
}

.material-icons.md-dark{
  color: lightgrey;
}

.legend{
  display:flex;
}

.legend-number{
  display: flex;
  flex-direction: column;
  width:140px;
  line-height: 3;

}

.legend-circle{
  display: flex;
  flex-direction: column;
  width:70px;
  line-height: 3;
  text-align: center;
}



.info-wrapper .infotext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: lightgrey transparent transparent transparent;
}

.info-wrapper:hover .infotext {
  visibility: visible;
}

.info-wrapper:hover .material-icons.md-dark{
  color: darkgrey;
}

.info_icon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.agglosKeyFigureTitle{
  display : flex;
  justify-content : bottom;
  margin:0;
  height:120px;
  align-items: center;
}
.agglosKeyFigureTitle p{
  padding-left:20px;
  font-weight: 600;
}
.keyfigureTitle p{
  padding-left:20px;
  font-weight: 600;
}

.rankingWrapper{
  display:flex;
  align-items: center;
}

.rankingWrapper p{
  margin:0;
}

.rankingWrapper span{
  color: #c95d47;
  font-weight: 600;
}

.agglosRanking{
  display:flex;
  align-items: center;
}

.agglosRanking p{
  margin:0;
}

.agglosRanking span{
  color: #E8AE40;
  font-weight: 600;
}

.histogramTitle{
 font-family:'Oswald';
  font-weight: 400;
  font-size:16px;
  text-transform: uppercase;
  padding:0;
  margin:0 0 30px 0;
  letter-spacing:.6px;
  color:#585858;
}

.countrySelected{
  display : flex;
  align-items : top;
  color: #585858;
  line-height: 26px;
  font-size: 14px;
  font-weight:400;
  padding: 20px 28px 20px 28px;
}

.countrySelected h5{
  font-family: 'Oswald';
  font-weight:300;
  color: #E8AE40;
}

.explore-row h6{
  font-family:'Oswald';
  font-weight: 400;
  font-size:16px;
  text-transform: uppercase;
  padding:0;
  letter-spacing:.6px;
  margin:0;
  color:#c95d47
}


.vr{
  /* border-left:1px solid #000;
  height:500px; */
  width: 1px;
  height: 20px;
  display: inline-block;

}

.histogram{
  display : flex;
  justify-content : flex-end;
  align-items:right;
  /* padding:10px 15px 10px 15px; */
  float: right;
}

.cityHistogram-Wrapper{
  display : flex;
  justify-content : center;
  align-items: center;
}

.download{
  display: flex;
  justify-content : center;
  /* align-items : center; */
  text-align: center;

  /* align-self: flex-end; */
  height: 200px;
}

.mixer-col{
  align-items: center;
  /* display: flex; */
  /* height:200px; */
}

.download p{
  font-size: 13px;
  font-weight: 300;
}

.download-row{
  padding:10px;
  margin: 0px;
  color:white;
  margin-top:370px;
}

.download-row-explore{
  padding:10px;
  margin: 0px;
  color:white;
  margin-top:532px;
}

.mixerhrs{
  width:200px;
}

.ull {
  margin:0px;
  padding:10px;
}

.input-range__label--min,
.input-range__label--max{
  display: none;
}

.iconmargin{
  margin-left: 150px;
  margin-top: 30px;
}

.slider-title{
  font-weight:700 !important;
  letter-spacing: .2px;
  font-size: 15px !important;
}

.content-nav{
  display: flex;
  position:fixed;
  justify-content : center;
  align-items : center;
  width:100px;
  height:100px;
  right:20px;
  top: 50vh;
  background-color: #585858;
  color:black;

}

/*@@@@@@@@@@ EXPLOREMIXER @@@@@@@@@@*/

.input-range__slider {
  appearance: none;
  background: #585858;
  border: 1px solid #585858;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem; }
  .input-range__slider:active {
    transform: scale(1.3);
    background-color: #585858;
    border: 1px solid #585858;

  }
  .input-range__slider:focus {
    box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2); }
  .input-range--disabled .input-range__slider {
    background: #585858;
    border: 1px solid #585858;
    box-shadow: none;
    transform: none; }

.input-range__label {
  color: #585858;
  font-family: "Open Sans", san-serif;
  font-size: 0.8rem;
  transform: translateZ(0);
  font-weight: 300;
  white-space: nowrap; }

.input-range__track {
  background: #585858;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  /* height: 0.1rem; */
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out; }
  .input-range--disabled .input-range__track {
    background: #585858; }

.input-range__track--active {
  background: #585858; }

.rv-hint__content{
  background: #585858;
  color: black;
}

.rv-xy-plot__series .rv-xy-plot__series--bar {
  transform: "translate(0,0)";
}

.barss{
  height:130px;
}
.plotss{
  margin-top:20px;
  margin-left:25px;
}



.recharts-cartesian-axis-line{
  stroke: none !important;
}

.recharts-cartesian-axis-tick-line{
  stroke: none !important;
}

.recharts-cartesian-axis-tick-value{
  fill: none !important;
}

.custom-tooltip{
  background-color: white;
  border: 1px solid #c95d47;
  padding:10px;
  z-index:1;
}
